@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Shabnam";
    src: local("Shabnam"), url("/fonts/shabnam/Shabnam-Light.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Shabnam";
    src: local("Shabnam"),
      url("/fonts/shabnam/Shabnam-Light.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Shabnam";
    src: local("Shabnam"),
      url("/fonts/shabnam/Shabnam-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Shabnam Medium";
    src: local("Shabnam Medium") url("/fonts/shabnam/Shabnam-Medium.ttf")
      format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Shabnam Medium";
    src: local("Shabnam Medium"),
      url("/fonts/shabnam/Shabnam-Medium.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Shabnam Medium";
    src: local("Shabnam Medium"),
      url("/fonts/shabnam/Shabnam-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Shabnam Bold";
    src: local("Shabnam Bold"),
      url("/fonts/shabnam/Shabnam-Bold.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Shabnam Bold";
    src: local("Shabnam Bold"),
      url("/fonts/shabnam/Shabnam-Bold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Shabnam Bold";
    src: local("Shabnam Bold"),
      url("/fonts/shabnam/Shabnam-Bold.woff2") format("woff2");
    font-display: swap;
  }
  }
    .flex-center {
      @apply flex items-center justify-center;
    }
    .flex-between-center{
      @apply flex justify-between items-center
    }
    .tr-200 {
      @apply transition-all duration-200;
    }
    .tr-300 {
      @apply transition-all duration-300;
    }
    .tr-400 {
      @apply transition-all;
      transition-duration: 0.4s;
    }
    .tr-500 {
      @apply transition-all duration-500;
    }



